body{
    background-color: #D8D4D0;

            font-family: "Encode Sans Condensed", sans-serif;
            font-weight: 400;
            font-style: normal;
}
.weather-app{
    background: #F8F7F5;
    margin: 45px auto;
    max-width:600px;
    max-height: 800px;
    padding: 30px;
    box-shadow: 0 30px 50px #A89E91;
    border-radius: 16px;

}