body{
    background-color: #D8D4D0;
    font-family: "Encode Sans Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.weather-app{
    background: #F8F7F5;
    margin: 45px auto;
    max-width:600px;
    max-height: 400px;
    padding: 30px;
    box-shadow: 0 30px 50px #A89E91;
    border-radius: 16px;

}
header{
padding: 20px 0 40px 0;
width:400px;
display: flex;
}

.search-input {
    border: none;
    border-radius: 16px;
    padding: 12px;
    width:70%;
    font-size: 16px;
    position: relative;
    top:-20%;

}

.search-form button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: relative;
    top: -10%;

}
main{
    padding: 30px 0;
}

.weather-main{
    display:flex;
    justify-content: space-between;
}
.temp {
    width: 200px;
    border-right:  1px solid #89715D;
}

.temp .temp-emoji {
    width: 90px;
    position: relative;
    right:-15%;
    top:-50%;
}

.temp .temp-value {
    font-size: 60px;
    font-weight: 100;
    color: rgba(0, 0, 0, 0.7);
    position: relative;
    top:0%;
    right:-25%;
}

.temp .unit {
    font-size: 30px;
    font-weight: thin;
    color: #89715D;
    position: relative;
    top:-35%;
    right:-52%;
}

.weather-details {
    color: #A89E91;
    position: relative;
    top:-40%;

}
.weather-details strong {
    color: #89715D;
}
.date {
    font-weight: bold;
    color: #89715D;
    line-height: 28px;

}
.city{
    position: relative;
    top:-40%;
}

a {
    color: #89715D;
}
.weather-forecast{
    display:flex;
    margin-top:30px;
    position:relative;
    justify-content: flex-end;
}


.wf-date{
    text-align: center;
    font-size: 16px;
    line-height: 20px;
}
.wf-icon{
    font-size:48px;
    text-align: center;
}
.wf-temperatures{
    text-align:center;
    display:flex;
    justify-content:center;
    margin-top: 10px;
}
.wf-temp{
    padding: 0 10px;
}

footer {
    text-align: center;
    font-size: 10px;
    font-weight: 500;
    padding: 30px auto;
    color: rgba(0, 0, 0, 0.7);
    
   

}

